


.
: var(--soft-brown);
  font-size: 13px;
}


/* =========================
   FOOTER
========================= */

footer {
  padding: 65px 8% 30px;
  background: var(--brown);
  color: white;
  text-align: center;
}

.footer-logo {
  margin-bottom: 15px;
}

footer > p {
  opacity: 0.75;
  font-size: 14px;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 28px;
  margin: 28px 0;
  flex-wrap: wrap;
}

.footer-links a {
  font-size: 13px;
  opacity: 0.8;
}

.copyright {
  padding-top: 25px;
  border-top: 1px solid rgba(255,255,255,0.2);
}


/* =========================
   MOBILE
========================= */

@media (max-width: 900px) {

  .navbar {
    padding: 0 5%;
  }

  .navbar nav {
    display: none;
  }

  .nav-button {
    padding: 10px 17px;
    font-size: 12px;
  }

  .hero {
    min-height: 650px;
    padding: 75px 7%;

    background:
      linear-gradient(
        rgba(255, 250, 248, 0.84),
        rgba(255, 250, 248, 0.84)
      ),
      url("https://images.unsplash.com/photo-1578985545062-69928b1d9587?auto=format&fit=crop&w=1200&q=85")
      center/cover;
  }

  .hero h1 {
    font-size: 50px;
  }

  .about {
    grid-template-columns: 1fr;
    gap: 45px;
  }

  .section-image img {
    height: 450px;
  }

  .creation-grid {
    grid-template-columns: 1fr 1fr;
  }

  .gallery-grid {
    grid-template-columns: 1fr 1fr;
  }

  .process-grid {
    grid-template-columns: 1fr;
  }

  .info-grid {
    grid-template-columns: 1fr;
  }

  .info-grid > div {
    border-right: none;
    border-bottom: 1px solid var(--border);
  }

  .info-grid > div:last-child {
    border-bottom: none;
  }
}


@media (max-width: 600px) {

  .navbar {
    height: 68px;
  }

  .logo {
    font-size: 19px;
  }

  .hero {
    min-height: 620px;
    padding: 65px 6%;
  }

  .hero h1 {
    font-size: 43px;
  }

  .hero p:not(.eyebrow) {
    font-size: 15px;
  }

  .section {
    padding: 75px 6%;
  }

  .section-heading {
    margin-bottom: 40px;
  }

  .section-heading h2,
  .section-content h2,
  .order-box h2 {
    font-size: 36px;
  }

  .creation-grid {
    grid-template-columns: 1fr;
  }

  .creation-card img {
    height: 300px;
  }

  .gallery-grid {
    grid-template-columns: 1fr;
  }

  .gallery-grid img {
    height: 300px;
  }

  .order-box {
    padding: 65px 22px;
  }

  .footer-links {
    gap: 18px;
  }
}
